@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Baloo+Paaji+2:wght@500&family=Dancing+Script:wght@700&family=Kanit:wght@300&family=Karla&family=Kaushan+Script&family=Khula&family=Laila&family=Montserrat:ital,wght@0,200;0,500;1,400&family=Nunito&family=Nunito+Sans:wght@300&family=Oswald:wght@300&family=Oxygen&family=Poppins:wght@300&family=Prompt:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --main_color: rgb(245, 64, 64);
}

.homepage {
  cursor: pointer;
}

.navbar-expand-lg .navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.cardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 0px !important;
}

.cardDiv .cardHeading h1 {
  font-size: 20px !important;
  text-align: center;
  width: 100%;
}
/* .cardDiv .cardHeading .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} */
.cardDiv .cardHeading .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
}
.cardDiv .cardHeading img {
  /* width: 200px;
  
  height: 200px; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardVarient {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.cardVarient .varient {
  margin-right: 10px;
}
.cardVarient span {
  width: 100%;
  text-align: center;
  display: block;
}

.cardVarient .selectedOption {
  width: 100px;
  /* padding: 5px;
    margin: 0px 3px;
    border-radius: 5px; */
}

.cardDiv .cardPrice {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.cardPrice .price {
  font-size: 20px;
  font-weight: 600;
}
.cardPrice .btnCart {
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  background-color: rgb(245, 64, 64);
  color: #fff;
}
.imgModal {
  width: 200px;
  height: 200px;
  margin: auto;
}
.imgModal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.new_user {
  margin-top: 10px;
}
.new_user span {
  font-size: 16px;
  font-weight: 600;
  color: var(--main_color);
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cardPrice .price {
    font-size: 15px;
  }
  .cardPrice .btnCart {
    padding: 8px;
    font-size: 12px;
  }
}
